
<div class="background-show">
  <%= link_to pets_path do %>
    <i class="fa fa-back fa-solid fa-left-long fa-2xl m-3 p-3"></i>
  <% end %>

  <%# <div class='container d-flex justify-content-between'> %>
  <div class="show">
    <div class="img_card">
      <div class="content">
        <div class="front text-center align-items-center border-0 rounded" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @pet.photo.key, crop: :pad %>')">
        </div>

        <div class=" back text-center m-auto">
            <h2 class="show_text name p-2 mt-4"><%= @pet.name %> </h2>
            <h3 class="show_text species p-2">SPECIES: <%= @pet.species %></h3>
            <p class="show_text p-2">With an age of: <%= @pet.age %></p>
            <p class="show_text p-2"><%= @pet.description %></p>
            <p class="show_text p-2 pt-4">Price per day: €<%= @pet.price %></p>
        </div>
      </div>
    </div>


    <div class="form_card border border-3 rounded-4 w-75">
      <div class="m-4">
        <%= simple_form_for [@pet, @booking] do |f| %>
          <%#= f.error_notification %>
          <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs p-3">
          <%= f.input :start_date %>
          <%= f.input :end_date %>
        </div>

        <div class="form-actions p-2">
          <%= f.button :submit, "Book Now", class: 'btn p-2 border border-2 rounded-3' %>
        </div>
        <% end %>
      </div>
  </div>

  <%# <div class="container bottom-box d-flex m-3 justify-content-between"> %>
    <div class="review-box text-center m-auto d-flex flex-column align-center">
      <% @pet.reviews.each do |review| %>
        <p class="review p-2 m-2"><%= 5.times { "⭐" }  %></p>
        <blockquote class="review p-2 pt-3 m-2">"<%= review.comment %>"</blockquote>
      <% end %>
    </div>

    <div class="map p-3 w-30"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    </div>
  <%# </div> %>

  <div class="options d-flex">
    <div class="p-3 m-2">
      <%= link_to @pet, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <div class="ms-3 p-3 delete-button"><i class="fa fa-solid fa-trash fa-xl"></i></div>
      <% end %>
    </div>
    <%# <div class="edit justify-center"> %>
      <%#= link_to edit_pet_path(@pet) do %>
        <%# <p class="ms-3 p-3 edit-button">Edit</p> %>
      <%# end %>
    <%# </div> %>
  </div>
</div>
