
<div class="background-show">
    <div class="options-links">
      <%= link_to pets_path do %>
        <i class="fa fa-back fa-solid fa-left-long fa-2xl m-4 p-3"></i>
      <% end %>
      <div class="edit-delete">
        <%  if policy(@pet).edit? %>
        <%= link_to edit_pet_path(@pet) do %>
          <div class="ms-3 p-3 edit-button"><i class="fa fa-sharp fa-solid fa-pen fa-xl"></i></div>
          <% end %>
        <% end %>
        <% if policy(@pet).destroy? %> 
        <%= link_to @pet, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <div class="m-4 p-3 delete-button"><i class="fa fa-solid fa-trash fa-xl"></i></div>
          <% end %>
          <% end %>
      </div>
    </div>

  <div class="grid-show">
    <div class="img_card">
      <div class="content">
        <% if @pet.photo.present? %>
        <div class="front text-center align-items-center border-0 rounded" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @pet.photo.key, crop: :fit %>')">
          <%# <div class="show_front border-0 rounded" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('= cl_image_path @pet.photo.key, crop: :fit')"></div> %>
        </div>
        <% end %>
        <div class=" back text-center align-items-center">
          <div class="back_text text-center align-items-center w-100 m-auto">
            <p class="show_text p-3"><%= @pet.name %> is a <%= @pet.species %></p>
            <p class="show_text p-3">With an age of: <%= @pet.age %></p>
            <p class="show_text p-3"><%= @pet.description %></p>
            <p class="show_text p-3">Price per day: <%= @pet.price %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center ">
    <div class="p-4 border border-3 rounded-4 w-75 m-auto">
        <%= simple_form_for [@pet, @booking], class: "form_card" do |f| %>
          <%#= f.error_notification %>
          <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs p-4 mb-2">
          <%= f.input :start_date %>
          <%= f.input :end_date %>
    </div>

      <div class="form-actions text-center ">
        <%= f.button :submit, "Book Now", class: 'btn p-2 border border-2 rounded-3 m-auto' %>
      </div>
      <% end %>
    </div>
    </div>

    <div class="review-box text-center m-auto d-flex flex-column align-center <%= "review-display-border" if @pet.reviews != [] %>" id="reviews">
      <% @pet.reviews.each do |review| %>
        <p class="review p-2 m-2"><% review.rating.times do %> ⭐ <% end %></p>
        <blockquote class="review p-2 pt-3 m-2">"<%= review.comment %>"</blockquote>
      <% end %>
    </div>

      <div class="map p-3 w-30"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

  </div>
  <div class="filler"></div>
</div>
