<% @user %>
<% @bookings.each do |b| #of the user %>
<div>
  <%= b.id %>
  <%= b.pet.name %>
  <%= link_to "Delete Booking", booking_path(b), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%= link_to "Leave a review", new_booking_review_path(b) %>
</div>
<% end %>
<%= link_to "Back to homepage", pets_path %>
