<div class="background-dashboard">
    <% @user %>
    <% sum = 0 %>
    <% arr = ["#collapseOne", "#collapseTwo", "#collapseThree", "#collapseFour", "#collapseFive", "#collapseSix", "#collapseSeven", "#collapseEight"] %>
    <% arr2 = ["collapseOne", "collapseTwo", "collapseThree", "collapseFour", "collapseFive", "collapseSix", "collapseSeven", "collapseEight"] %>
    <%= link_to pets_path do %>
        <i class="fa fa-back fa-solid fa-left-long fa-2xl p-3" style="margin-top: 100px;"></i>
    <% end %>
  <div class="container">
    <div class="accordion" id="accordionExample">
    <% @bookings.order(:id).each do |b| #of the user %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" style="color: white;" type="button" data-bs-toggle="collapse" data-bs-target=<%= arr[sum] %> aria-expanded="true" aria-controls=<%= arr2[sum] %>>
        <div><p>Booking Number: <%= b.id %> </p></div>
        <div><p>, The Pet you booked: <%= b.pet.name %></p></div>
      </button>
    </h2>
    <div id=<%= arr2[sum] %> class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body" style="color: white;">
          <p>Total Price: <%= b.total_price %></p>
          <% if b.status.present? %>
            <p>status:<%= b.status %></p>
          <% else %>
            <% if b.status == false %>
            <p>status:<%= b.status %></p>
            <% else %>
              <% if b.status == false %>
              <p>status:<%= b.status %></p>
              <% else %>
              <p>status: pending ...</p>
              <% end %>
            <% end %>

          <% end %>
          <p>From the: <%= b.start_date %> to the <%= b.end_date %></p>
          <div class="link-in-line">
          <% if policy(b).destroy? %>
            <%= link_to booking_path(b), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <div class="m-4 p-3 delete-button"><i class="fa fa-solid fa-trash fa-xl"></i></div>
            <% end %>
            <%= link_to "Leave a review",new_booking_review_path(b), class: "btn btn-dashboard" %>
            </div>
            <% end %>
              <div class="m-4 p-3 delete-button"><i class="fa fa-solid fa-trash fa-xl"></i></div>
            <% end %>
          <% else %>
            <%= link_to "Leave a review", new_booking_review_path(b), class: "btn btn-dashboard" %>
          <% end %>
           </div>
        </div>
      </div>
      </div>
      <% sum += 1 %>
            <% end %>
    </div>
  </div>
</div>
